# Dependencias de Node.js
node_modules/

# Archivo de variables de entorno (¡MUY IMPORTANTE OCULTARLO!)
.env

# Archivos de la base de datos local (si se generaron)
*.db
*.sqlite

# Archivos basura del sistema operativo
.DS_Store
Thumbs.db